/********* START OF STYLES *********/
body{
    background: linear-gradient(rgb(233, 138, 121),#93F);
}
.cursor-pointer{
    cursor: pointer;
}

.game table.table{
    border-collapse: collapse; /* Collapse the borders to avoid spacing variations */
    border-spacing: 0;
}

.game table.table td{
    width: 57px;
}

.game table.table td[data-enable]:hover{
    background:radial-gradient(#AAAFFF, #dae0c0) ;
    box-shadow: 0 0 5px #DC9;
}

.game table.table td[data-enable="false"]{
    cursor: not-allowed;
}

.game table.table td[data-enable="false"]:hover{
    opacity: 0.5;
}

.game table.table td h1{
    margin: 0;
    line-height: 0;
}

.heading-img{
    width:50px;
}

.selected-difficulty{
    border: 1px solid;
    font-weight: bold;
    box-shadow: 0 0 5px;
}
/********* END OF STYLES *********/
